<!DOCTYPE html>
<html lang="lv">
<head>
<meta charset="UTF-8">

<title></title>

<!-- links uz css failu -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
  <h1>Pievieno grāmatu</h1>
</header>
<!-- parvietošanas caur lapam -->
<div class="linki">
  <a href="/">Sākums</a>
  <a href="/pievienot">Pievieno savu izlasīto grāmatu</a>
  <a href="/dzest">Izdzēs</a>
  <a href="/random">Nav ideju ko lasīt?</a>
</div>


<main>
<!--ievades logi( obligāti vajag lai ivada nosaukumu lai pēc tam var dzēst) -->
  <form method="post">
  <!-- nosaukums -->
    <label>Ievadi grāmatas nosaukumu:</label>
    <input type="text" name="nosaukums" required>
<!-- autors -->
    <label>Ievadi autoru:</label>
    <input type="text" name="autors">

  <!-- gramatas apraksts -->
    <label>Ko tu domāji par grāmatu?</label>
    <input name="apraksts" rows="4"></input>

    <button type="submit">Pievienot</button>
  </form>




</main>

</body>
</html>
